<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Dados Pessoais</title>
</head>
<body>
	<form method="POST">
		{% csrf_token %}

        <!--mensagens para debugar o cadastro de informações,
        peço que deixe as mesmas em algum local da pag ou comentadas-->
        <p> Cadastro telefone 1: {{mensagem_telefone}}</p>
        <p> Cadastro telefone 2: {{mensagem_telefone2}}</p>
        <p> Cadastro email 1: {{mensagem_email}}</p>
        <p> Cadastro email 2: {{mensagem_email2}}</p>
        <p> Cadastro usuario: {{mensagem_usuario}}</p>
        <p> Cadastro email usuario: {{mensagem_email3}}</p>
        <p> Cadastro telefone usuario: {{mensagem_telefone3}}</p>

		Nome completo:<br>
		<input type="text" name="nome" maxlength="50" required=""><br>
		
		Sexo:<br>
		<input type="radio" name="genero" value="masculino" checked> Masculino
  		<input type="radio" name="genero" value="feminino"> Feminino<br>

		e-mail:<br>
		<input type="email" name="e-mail" maxlength="50" required=""><br>

		Telefone:<br>
		<input type="tel" name="telefone" maxlength="30" required=""><br>

		<input type="submit">

	</form>

</body>
</html>