{% extends 'cotacao/base.html' %}

{% load static %}

<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Dados Pessoais</title>

</head>

<body>
	<form method="POST" action="segurado/">
	{% csrf_token %}
		
		<div>
			Nome completo:<br>
			<input type="text" name="nome" maxlength="100" required=""><br>
		</div>
		
		<div>
			Sexo:<br>
			<input type="radio" name="genero" value="masculino" required> Masculino
  			<input type="radio" name="genero" value="feminino" required> Feminino<br>
		</div>

		<div>
			e-mail:<br>
			<input type="email" name="e-mail" maxlength="50" required=""><br>
		</div>
		
		<div>
			Telefone:<br>
			<input type="tel" name="telefone" maxlength="30" required=""><br>
		</div>

		<div class="button">
			<button type="submit">Vamos Continuar!!!</button>
		</div>

	</form>

</body>

</html>